@font-face {
    font-family: rubikMedium;
    src: url(../fonts/Rubik-Medium.ttf);
}
.home-section-admin:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../images/coat_arm.png);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;    
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .home-section-admin {
    margin-top: 40px;
    width: 100%;
    height: 90%;
    background-position: center;
    align-self: center;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 0;
    padding-bottom:80px;  /* Height of the footer */
}
.togglenav {
    display: none;
}
#flex-admin {
    display: flex;
    width: 80%;
    height: 100%;
    margin-right: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1 1 100%;
}
.admin-menu {
    background: transparent;
    /* border: 1px solid; */
    /* padding: 10px; */
    /* border-left: 2px solid green; */
    /* box-shadow: 5px 10px #888888; */
    box-shadow: 5px 10px #faf6f6;
    border-radius: 100px / 5px; 
    padding: 20px;
    margin-right: 40px;
    height: 100%;
    flex: 1;
    /* color: white; */
    width: fit-content;
}

.admin-menu li a {
    font-size: 1em;
    font-family: 'rubikmedium', Arial, Helvetica, sans-serif;
    color: rgb(35, 15, 20);
}

.main-admin {
    flex: 4;
    box-shadow: 5px 10px #f8f6f6;
    border-radius: 100px / 5px; 
}

/* Bo */

.toggled-nav > #menu {
    width: 200px;
}
#menu {
    padding: 30px 22px 30px 17px;
    box-sizing: border-box;
    height: auto;
    position: fixed;
    width: 258px;
    top: 0;
    bottom: 0;
  }
  #welcome-admin {
    color: darkkhaki;
    font-weight: bolder;
    border: none;
  }
  .menu-ico {
    width: 20px;
    height: auto;
    vertical-align: middle;
  }
  .menu-ico-1{
    color: blueviolet;
  }

  .menu-ico-2{
    color: rgb(6, 121, 82);
  }
  .menu-ico-3{
    color: rgb(110, 47, 18);
  }
  .menu-ico-4{
    color: rgb(190, 188, 20);
  }
  .menu-ico-5{
    color: rgb(221, 129, 224);
  }
  .menu-ico-6{
    color: rgb(108, 235, 224);
  }
  .menu-ico-d {
    font-size: 1.2em;
    margin-right: 5px;
    display: inline-block;
    margin-top: -7px;
    color: darkgreen;
  }
  
  nav {
    padding: 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 6px 25px;
    display: flex;
    align-items: center;
  }
  nav > ul > li {
    display: inline-block;
  }
  
  ul {
    padding: 0;
  }
  .ul-list {
      margin-top: 150px;
  }
  #menu ul > li {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px dashed gainsboro;
    width: max-content;
  }
  #menu > ul > li{
    padding: 20px 0;
  }
  #menu img {
    margin-right: 15px;
  }
  #aside-profile {
    margin-left: 35px;
  }
  #menu ul > ul {
    padding-left: 39px;
  }
  
  main > section > #main-content-page {
    padding: 15px 25px;
  }
  #main-content-page {
    max-width: 900px;
    margin: auto;
  }
  #info-cont {
    display: flex;
    justify-content: space-between;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 220px;
    min-width: 150px;
    height: 70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 6px 25px;
  }
  .dash-img {
    width: 300px;
    height: 288px;
  }
  #content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0 0;
  }


/*Table*/
.dash-cont {
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
  }
  #table-info {
    display: flex;
    border-bottom: 1px solid rgba(112, 112, 112, .5);
  }
  #table-info a {
    padding: 17px 30px;
    margin: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  #table-cont {
    overflow: auto;
  }
  #table-head {
    height: 50px;
  }
  td, th {
    text-align: left;
  }
  td, th {
    padding: 10px;
  }
  tr:nth-child(even) {
    background-color: rgba(235, 239, 248, 1);
  }
  
  /*parcel-detail*/
  #parcel > div:first-child {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }
  #parcel-ico {
    width: 180px;
    height: auto;
    margin: auto;
  }
  #details {
    justify-content: center;
    display: flex;
  }
  #details > div:first-child {
    margin-right: 80px;
  }
  #map {
    width: 300px;
    height: 400px;
  }  
  
  /* For responsiveness */
  .toggler {
    width: 20px;
    height: auto;
    display: none;
  }
  
  .toggled-nav {
    height: auto;
    z-index: 1;
    top: 0;
    bottom: 0;
  }
  
  .toggled-nav > #menu {
    width: 255px;
  }

  

@media all and (max-width:1000px) {
    .admin-menu {
        flex-wrap: wrap;
    }
    .admin-menu li {
        flex: 1 1 50%;
    }
}

@media all and (max-width: 500px) {
    .admin-menu li {
    flex-basis: 100%;
    }
} 